.movie-body{

}

.movie-title{
  text-align: center;
  font-family: 'Open Sans Condensed';
  margin-top: 1%;
}

.movie-pic{
  width: 280px;
  height: 360px;
  margin: 0  auto;
  background-size: cover;
}

.info-movie{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

span{
  font-size: 2em;
  font-weight: 800;
}

 em{
  font-style: normal;
  font-size: 1em;
  font-weight: 600;
 }

.Provisoire{
  text-align: center;
}