<div class="header">
    <h1><%= link_to "Alain Chabat", movies_path, class:"nav-item" %></h1>
    <p><%= link_to "à propos", about_path, class:"nav-item" %></p>
</div>

<div class= "movie-body">
    affiche de film
    titre

    liens vers sypnosis
    
    <p>Réalisateur - ........</p>
    <p>Auteur - ........</p>

    <p>Genre - ........</p>
     
</div> 