<div class="header">
    <h1><%= link_to "Alain Chabat", movies_path, class:"nav-item" %></h1>
</div>

<div class="about-body">

    <p class="about-bio">
    Alain Chabat, né le 24 novembre 1958 à Oran (Algérie française), est un acteur, réalisateur, scénariste, humoriste,
     producteur de cinéma et animateur de télévision français.
    Révélé sur Canal+ par la troupe comique Les Nuls, il devient une des figures de la comédie dans le cinéma français.
    Comme acteur, il s'impose avec plusieurs succès, principalement dans le registre comique : La Cité de la peur (1994), Gazon maudit (1995),
     Le Cousin (1997), Le Goût des autres (2001), Chouchou (2003), Ils se marièrent et eurent beaucoup d'enfants (2004), Prête-moi ta main (2006),
     La Personne aux deux personnes (2008), Trésor (2009), et Les Gamins (2013).
    Il tourne également à deux reprises sous la direction de Michel Gondry : La Science des Rêves (2006) et L'écume des jours (2013).
     Il tient aussi des petits rôles dans deux grosses productions : La Nuit au musée 2 (2009) et Valérian et la Cité des mille planètes (2017).
      Enfin, il est la voix française du héros de la franchise de cinéma d'animation américaine Shrek.
    Par ailleurs, il s'impose comme un scénariste et réalisateur comique de premier plan : d'abord avec l'expérimental Didier (1997),
     puis l'énorme succès commercial Astérix et Obélix : Mission Cléopâtre (2002). À la suite de l'échec de RRRrrrr!!! (2004), il se fait plus rare.
      Il signe par la suite deux films plutôt destinés à un jeune public : Sur la piste du Marsupilami (2012) et Santa et Cie (2017).
    </p>

    

    <div class="photo">
    </div>

  Comédien
  Auteur
  Réalisateur
</div>
