.about-body{
  margin: 0 3% auto;
  display: flex;
  justify-content: space-around;
}

.about-bio{
  width: 50%;
  text-align: center;
}

.photo{
  background-color: white;
  width: 250px;
  height: 250px;
}